BA_Daniel/Lyft-Detector/second.pytorch/second/model/*
BA_Daniel/Kitti-Detector/second.pytorch/second/model/*
BA_Daniel/Kitti-Tracker/mmMOT/model/*

BA_Philipp/Traffic Sign Recognition/002 Modify and train RecognitionNet/Train Images/*
BA_Philipp/Traffic Sign Recognition/003 Test RecognitionNet/Test/*
BA_Philipp/Traffic Sign Recognition/001 Data/000 Scenarios/Scenario 3, larger scenario with road signs 100 meters apart/*
