BA_Daniel/Lyft-Detector/second.pytorch/second/model/*
BA_Daniel/Kitti-Detector/second.pytorch/second/model/*
BA_Daniel/Kitti-Tracker/mmMOT/model/*

BA_Philipp/Traffic Sign Recognition/002 Modify and train RecognitionNet/Train Images/*
