model {
  second {
    network_class_name: "VoxelNet"
    voxel_generator {
      voxel_size: 0.25
      voxel_size: 0.25
      voxel_size: 20.0
      point_cloud_range: -100.0
      point_cloud_range: -70.0
      point_cloud_range: -20.0
      point_cloud_range: 70.0
      point_cloud_range: 70.0
      point_cloud_range: 20.0
      max_number_of_points_per_voxel: 60
    }
    voxel_feature_extractor {
      module_class_name: "PillarFeatureNet"
      num_filters: 64
      num_input_features: 4
    }
    middle_feature_extractor {
      module_class_name: "PointPillarsScatter"
      num_input_features: 64
      downsample_factor: 1
    }
    rpn {
      module_class_name: "RPNV2"
      layer_nums: 3
      layer_nums: 5
      layer_nums: 5
      layer_strides: 2
      layer_strides: 2
      layer_strides: 2
      num_filters: 64
      num_filters: 128
      num_filters: 256
      upsample_strides: 0.25
      upsample_strides: 0.5
      upsample_strides: 1.0
      num_upsample_filters: 128
      num_upsample_filters: 128
      num_upsample_filters: 128
      num_groups: 32
      num_input_features: 64
    }
    num_point_features: 4
    use_sigmoid_score: true
    loss {
      localization_loss {
        weighted_smooth_l1 {
          sigma: 3.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
        }
      }
      classification_loss {
        weighted_sigmoid_focal {
          anchorwise_output: true
          gamma: 2.0
          alpha: 0.25
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    encode_rad_error_by_sin: true
    encode_background_as_zeros: true
    use_direction_classifier: true
    direction_loss_weight: 0.2
    pos_class_weight: 1.0
    neg_class_weight: 1.0
    loss_norm_type: NormByNumPositives
    box_coder {
      ground_box3d_coder {
      }
    }
    target_assigner {
      class_settings {
        anchor_generator_range {
          sizes: 1.9301772
          sizes: 4.7671814
          sizes: 1.7227076
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -11.07
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -11.07
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.40000001
        unmatched_threshold: 0.30000001
        class_name: "car"
      }
      class_settings {
        anchor_generator_range {
          sizes: 0.63058913
          sizes: 1.7645216
          sizes: 1.4419219
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -11.07
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -11.07
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.2
        unmatched_threshold: 0.15000001
        class_name: "bicycle"
      }
      class_settings {
        anchor_generator_range {
          sizes: 0.36058912
          sizes: 0.73452163
          sizes: 0.5192197
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -11.79
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -11.79
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.2
        unmatched_threshold: 0.15000001
        class_name: "animal"
      }
      class_settings {
        anchor_generator_range {
          sizes: 2.960469
          sizes: 12.348599
          sizes: 3.4403098
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -10.35
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -10.35
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.30000001
        unmatched_threshold: 0.15000001
        class_name: "bus"
      }
      class_settings {
        anchor_generator_range {
          sizes: 2.450469
          sizes: 6.5285993
          sizes: 2.3903098
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -10.88
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -10.88
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.5
        unmatched_threshold: 0.34999999
        class_name: "emergency_vehicle"
      }
      class_settings {
        anchor_generator_range {
          sizes: 2.7905047
          sizes: 8.2035294
          sizes: 3.2331243
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -10.62
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -10.62
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.5
        unmatched_threshold: 0.30000001
        class_name: "other_vehicle"
      }
      class_settings {
        anchor_generator_range {
          sizes: 0.96279478
          sizes: 2.3597379
          sizes: 1.5940304
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -11.32
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -11.32
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.2
        unmatched_threshold: 0.15000001
        class_name: "motorcycle"
      }
      class_settings {
        anchor_generator_range {
          sizes: 0.77344888
          sizes: 0.81564373
          sizes: 1.7874807
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -10.91
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -10.91
          rotations: 0.0
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.2
        unmatched_threshold: 0.15000001
        class_name: "pedestrian"
      }
      class_settings {
        anchor_generator_range {
          sizes: 2.8460939
          sizes: 10.247781
          sizes: 3.4400492
          anchor_ranges: -99.600014
          anchor_ranges: -69.599998
          anchor_ranges: -10.3
          anchor_ranges: 69.599998
          anchor_ranges: 69.599998
          anchor_ranges: -10.3
          rotations: 0.0
          rotations: 1.5700001
        }
        region_similarity_calculator {
          nearest_iou_similarity {
          }
        }
        nms_pre_max_size: 1000
        nms_post_max_size: 300
        nms_score_threshold: 0.050000001
        nms_iou_threshold: 0.30000001
        matched_threshold: 0.5
        unmatched_threshold: 0.30000001
        class_name: "truck"
      }
      sample_positive_fraction: -1.0
      sample_size: 512
      assign_per_class: true
    }
    post_center_limit_range: -99.600014
    post_center_limit_range: -69.599998
    post_center_limit_range: -20.0
    post_center_limit_range: 69.599998
    post_center_limit_range: 69.599998
    post_center_limit_range: 20.0
    direction_offset: 0.77999997
    sin_error_factor: 1.0
    num_direction_bins: 2
  }
}
train_input_reader {
  batch_size: 1
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_09fbd7fc1213f283558c714137281455829a23027f89eed4e89d1da1178c59b1.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train/"
    dataset_class_name: "NuScenesDataset"
  }
  preprocess {
    max_number_of_voxels: 20000
    groundtruth_localization_noise_std: 0.0
    groundtruth_localization_noise_std: 0.0
    groundtruth_localization_noise_std: 0.0
    groundtruth_rotation_uniform_noise: 0.0
    groundtruth_rotation_uniform_noise: 0.0
    global_rotation_uniform_noise: 0.0
    global_rotation_uniform_noise: 0.0
    global_scaling_uniform_noise: 0.94999999
    global_scaling_uniform_noise: 1.05
    global_translate_noise_std: 0.2
    global_translate_noise_std: 0.2
    global_translate_noise_std: 0.2
    num_workers: 1
    anchor_area_threshold: -1.0
    remove_points_after_sample: true
    groundtruth_drop_max_keep_points: 15
    global_random_rotation_range_per_object: 0.0
    global_random_rotation_range_per_object: 0.0
    database_sampler {
      database_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_09fbd7fc1213f283558c714137281455829a23027f89eed4e89d1da1178c59b1.pkl"
      global_random_rotation_range_per_object: 0.0
      global_random_rotation_range_per_object: 0.0
      rate: 1.0
    }
    random_flip_x: true
    random_flip_y: true
    sample_importance: 1.0
  }
}
train_config {
  optimizer {
    adam_optimizer {
      learning_rate {
        one_cycle {
          lr_max: 0.003
          moms: 0.94999999
          moms: 0.85000002
          div_factor: 10.0
          pct_start: 0.40000001
        }
      }
      weight_decay: 0.0099999998
    }
    fixed_weight_decay: true
  }
  steps: 400
  steps_per_eval: 550000
  save_checkpoints_secs: 1800
  save_summary_steps: 10
  loss_scale_factor: -1.0
  clear_metrics_every_epoch: true
}
eval_input_reader {
  batch_size: 2
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_09fbd7fc1213f283558c714137281455829a23027f89eed4e89d1da1178c59b1.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train/"
    dataset_class_name: "NuScenesDataset"
  }
  preprocess {
    max_number_of_voxels: 30000
    num_workers: 2
    anchor_area_threshold: -1.0
  }
}
