train_input_reader {
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_09fbd7fc1213f283558c714137281455829a23027f89eed4e89d1da1178c59b1.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train/"
  }
  preprocess {
    database_sampler {
      database_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_09fbd7fc1213f283558c714137281455829a23027f89eed4e89d1da1178c59b1.pkl"
    }
  }
}
train_config {
  steps: 400
}
eval_input_reader {
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_09fbd7fc1213f283558c714137281455829a23027f89eed4e89d1da1178c59b1.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train/"
  }
}
