train_input_reader {
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-dataset//infos_train.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-dataset/"
  }
  preprocess {
    database_sampler {
      database_info_path: "/home/itiv/Desktop/lyft-dataset//infos_train.pkl"
    }
  }
}
train_config {
  steps: 2000
}
eval_input_reader {
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-dataset//infos_val.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-dataset/"
  }
}
