train_input_reader {
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_71dfb15d2f88bf2aab2c5d4800c0d10a76c279b9fda98720781a406cbacc583b.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train/"
  }
  preprocess {
    database_sampler {
      database_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_71dfb15d2f88bf2aab2c5d4800c0d10a76c279b9fda98720781a406cbacc583b.pkl"
    }
  }
}
train_config {
  steps: 1000
}
eval_input_reader {
  dataset {
    kitti_info_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train//infos_71dfb15d2f88bf2aab2c5d4800c0d10a76c279b9fda98720781a406cbacc583b.pkl"
    kitti_root_path: "/home/itiv/Desktop/lyft-kaggle-dataset/train/"
  }
}
