model {
  second {
    voxel_generator {
      voxel_size: 0.050000001
      voxel_size: 0.050000001
      voxel_size: 0.1
      point_cloud_range: 0.0
      point_cloud_range: -40.0
      point_cloud_range: -3.0
      point_cloud_range: 70.400002
      point_cloud_range: 40.0
      point_cloud_range: 1.0
      max_number_of_points_per_voxel: 5
    }
    voxel_feature_extractor {
      module_class_name: "VoxelFeatureExtractorV3"
      num_filters: 16
      num_input_features: 4
    }
    middle_feature_extractor {
      module_class_name: "SpMiddleFHD"
      num_input_features: 4
      downsample_factor: 8
    }
    rpn {
      module_class_name: "RPNV2"
      layer_nums: 5
      layer_nums: 5
      layer_strides: 1
      layer_strides: 2
      num_filters: 128
      num_filters: 256
      upsample_strides: 1
      upsample_strides: 2
      num_upsample_filters: 256
      num_upsample_filters: 256
      num_groups: 32
      num_input_features: 128
    }
    use_sigmoid_score: true
    loss {
      localization_loss {
        weighted_smooth_l1 {
          sigma: 3.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
          code_weight: 1.0
        }
      }
      classification_loss {
        weighted_sigmoid_focal {
          anchorwise_output: true
          gamma: 2.0
          alpha: 0.25
        }
      }
      classification_weight: 1.0
      localization_weight: 2.0
    }
    encode_rad_error_by_sin: true
    encode_background_as_zeros: true
    use_rotate_nms: true
    nms_pre_max_size: 1000
    nms_post_max_size: 100
    nms_score_threshold: 0.30000001
    nms_iou_threshold: 0.0099999998
    post_center_limit_range: 0.0
    post_center_limit_range: -40.0
    post_center_limit_range: -3.0
    post_center_limit_range: 70.400002
    post_center_limit_range: 40.0
    post_center_limit_range: 0.0
    use_direction_classifier: true
    direction_loss_weight: 0.2
    pos_class_weight: 1.0
    neg_class_weight: 1.0
    loss_norm_type: NormByNumPositives
    box_coder {
      ground_box3d_coder {
      }
    }
    target_assigner {
      anchor_generators {
        anchor_generator_range {
          class_name: "Car"
          sizes: 1.6
          sizes: 3.9000001
          sizes: 1.5599999
          anchor_ranges: 0.0
          anchor_ranges: -40.0
          anchor_ranges: -1.0
          anchor_ranges: 70.400002
          anchor_ranges: 40.0
          anchor_ranges: -1.0
          rotations: 0.0
          rotations: 1.5700001
          matched_threshold: 0.60000002
          unmatched_threshold: 0.44999999
        }
      }
      sample_positive_fraction: -1.0
      sample_size: 512
      region_similarity_calculator {
        nearest_iou_similarity {
        }
      }
    }
    num_point_features: 4
  }
}
train_input_reader {
  batch_size: 6
  max_num_epochs: 160
  prefetch_size: 25
  max_number_of_voxels: 16000
  kitti_info_path: "/home/itiv/Desktop/KITTI_OBJECT_DATA/KITTI_DATASET_ROOT/kitti_infos_train.pkl"
  kitti_root_path: "/home/itiv/Desktop/KITTI_OBJECT_DATA/KITTI_DATASET_ROOT"
  shuffle_points: true
  groundtruth_localization_noise_std: 1.0
  groundtruth_localization_noise_std: 1.0
  groundtruth_localization_noise_std: 0.5
  groundtruth_rotation_uniform_noise: -0.78539819
  groundtruth_rotation_uniform_noise: 0.78539819
  global_rotation_uniform_noise: -0.78539819
  global_rotation_uniform_noise: 0.78539819
  global_scaling_uniform_noise: 0.94999999
  global_scaling_uniform_noise: 1.05
  num_workers: 3
  anchor_area_threshold: -1.0
  remove_points_after_sample: true
  groundtruth_drop_max_keep_points: 15
  global_random_rotation_range_per_object: 0.0
  global_random_rotation_range_per_object: 0.0
  database_sampler {
    database_info_path: "/home/itiv/Desktop/KITTI_OBJECT_DATA/KITTI_DATASET_ROOT/kitti_dbinfos_train.pkl"
    sample_groups {
      name_to_max_num {
        key: "Car"
        value: 15
      }
    }
    database_prep_steps {
      filter_by_min_num_points {
        min_num_point_pairs {
          key: "Car"
          value: 5
        }
      }
    }
    database_prep_steps {
      filter_by_difficulty {
        removed_difficulties: -1
      }
    }
    global_random_rotation_range_per_object: 0.0
    global_random_rotation_range_per_object: 0.0
    rate: 1.0
  }
}
train_config {
  optimizer {
    adam_optimizer {
      learning_rate {
        one_cycle {
          lr_max: 0.003
          moms: 0.94999999
          moms: 0.85000002
          div_factor: 10.0
          pct_start: 0.40000001
        }
      }
      weight_decay: 0.0099999998
    }
    fixed_weight_decay: true
  }
  steps: 30950
  steps_per_eval: 3095
  save_checkpoints_secs: 1800
  save_summary_steps: 10
  loss_scale_factor: 512.0
  clear_metrics_every_epoch: true
}
eval_input_reader {
  batch_size: 6
  max_num_epochs: 160
  prefetch_size: 25
  max_number_of_voxels: 40000
  kitti_info_path: "/home/itiv/Desktop/KITTI_TRACKING_DATA/KITTI_DATASET_ROOT/training/scene//temp_data/kitti_infos_test.pkl"
  kitti_root_path: "/home/itiv/Desktop/KITTI_TRACKING_DATA/KITTI_DATASET_ROOT/training/scene/"
  num_workers: 3
  anchor_area_threshold: -1.0
}
